#gamepackage-news {
  display: none;
}

.tertiary-nav-container {
  display: none;
}

.ad-banner-wrapper {
  display: none;
}

.ad-slot {
  display: none;
}

section#main-container td {
  font-size: 110% !important;
}
